  .dashed {
      border-bottom: dashed;
      padding-top: 25px;
      height: auto;
      float: left;
      padding-bottom: 80px;
      font-weight:normal;
      h1 {
          font-size: 50px;
          @include media(smalltablet) {
              font-size: 60px;
              font-weight: normal;
          }
          @include media(largeTablet) {
              font-size: 60px;
              font-weight: normal;
          }
          @include media(desktop) {
              font-size: 60px;
              font-weight: normal;
          }
      }
      h2 {
          font-size: 32px;
          @include media(smalltablet) {
              font-size: 38px;
              font-weight: normal;
          }
          @include media(largeTablet) {
              font-size: 38px;
              font-weight: normal;
          }
          @include media(desktop) {
              font-size: 38px;
              font-weight: normal;
          }
      }
      p {
          font-size: 12px;
      }
      @include media(smallTablet) {
          padding-bottom: 100px;
      }
      @include media(largeTablet) {
          padding-bottom: 60px;
      }
      @include media(desktop) {
          padding-bottom: 35px;
      }
  }
  .no-dashed {
      padding-bottom: 60px;
  }